@model gibz.m151.data.Models.User

<!DOCTYPE html>


<h1>Login</h1>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName)
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password)
        </div>
        <input type="submit" value="einloggen" />
    }
</div>
