@model gibz.m151.data.Models.Person



<!DOCTYPE html>


@if (Model == null)
{
    <h2>There is no person with that Id saved in our Database.</h2>
}
else
{
    <h1>Person you searched for:</h1>
    <div>Id: @Model.Id</div>
    <div>Name: @Model.Name</div>
    <div>Age: @Model.Age</div>
    <div>Married: @Model.Married</div>
    <p> @Html.ActionLink("Home", "Index", "Home")</p>

}

